/* 768 para tablets y esta dentro para los 800xp en los que trabajaremos */

@media screen and (max-width: 800px) {
  
  /* portada */

  .titulo {
    font-size:45px;
    margin-top:0;
  }

  .title-a{
    font-size: 18px;
  }

  .portada{
    height: auto;
  }

  .portada.button{
    margin-bottom: 30px;
    display: inline-block;
  }
  /* fin de portada */

  /* cafes */
  .cafes{
    text-align: center;
    margin: 0;
  }
  /* Fin de cafes */

  .right, .left {
    float: none;
    position: static;
  }

  .contenedor.cafe-a {
    position: static;
    padding: 0;
  }

  .cafe.granoscafe {
    height: auto;
    position: static;
  }

  .contenedor-cafe-b {
    margin: 0;
  }

  .cafe li { 
    list-style: none;

  }

  .title-b {
    margin: 0;
  }
} 

/* cualquier dimension que sea menos a 767 cambiamos el footer */

@media screen and (max-width:767px) {

  textarea  {
    width: 100%;
  }
  .footer .contenedor {
    display: block;
  }

  .footer.img {
    width: 250px;
  }

  .contacto {
    display: flex;
    justify-content: center;
    margin: 0 auto;  
  }

  .generos label {
    font-size: 16px;
  }

  .intereses label {
    display: block;
    font-size: 16px;
  }
  .formulario {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .formulario .button {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0, 0,0.24);
  }
  .col1 { 
    margin: 0;
  }
  /* selectorees de atributos  */
  input[Type="text"], input[Type="email"] {
    font-size: 16px;
    padding: 5px;
  }

  input[Type="radio"], input[Type="checkbox"] {
    position: relative;
    top: 3px;
    zoom: 1.5px;


}