/* 768 para tablets y esta dentro para los 800xp en los que trabajaremos */

.burger-button { 
  width: 40px;
  background: #dd944c;
  border-radius: 50%;
  line-height: 35px;
  height: 40px;
  text-align: center;
  display: inline-block;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 3;
}

@media screen and (max-width: 800px) {
  
  /* portada */

  .titulo {
    font-size:45px;
    margin-top:0;
  }

  .title-a{
    font-size: 18px;
  }

  .portada{
    height: auto;
  }

  .portada.button{
    margin-bottom: 30px;
    display: inline-block;
  }
  /* fin de portada */

  /* cafes */
  .cafes{
    text-align: center;
    margin: 0;
  }
  /* Fin de cafes */

  .right, .left {
    float: none;
    position: static;
  }

  .contenedor.cafe-a {
    position: static;
    padding: 0;
  }

  .cafe.granoscafe {
    height: auto;
    position: static;
  }

  .contenedor-cafe-b {
    margin: 0;
    position: static;
  }

  .cafe li { 
    list-style: none;

  }

  .title-b {
    margin: 0;
  }
} 

/* cualquier dimension que sea menos a 767 cambiamos el footer */

@media screen and (max-width:767px) {

  
  textarea  {
    width: 100%;
  }
  
  .footer .contenedor {
    display: block;
  }

  .footer.img {
    width: 250px;
  }

  .contacto {
    display: flex;
    justify-content: center;
    margin: 0 auto;  
  }

  .generos label {
    font-size: 16px;
  }

  .intereses label {
    display: block;
    font-size: 16px;
  }
  .formulario {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .formulario .button {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0, 0,0.24);
  }
  .col1 { 
    margin: 0;
  }
  /* selectorees de atributos  */
  input[type="text"], input[type="email"] {
    font-size: 16px;
    padding: 5px;
  }

  input[type="radio"], input[type="checkbox"] {
    position: relative;
    top: 3px;
    zoom: 1.5px;
  }
}

/*  para tablets pequeñas  */
@media screen and (max-width:650px) {
  
  

  .header{
    text-align: center;
    
  }

  .logotipo{
    margin: 0;
  }

  .menu{
    position: static;
    display: block;
   
  }

  .menu li:first-child{
    margin: 0;
  }

  .menu ul{
    padding: 0;
  }
}

/*  celulares */

@media screen and (max-width:500px) {
  .portada .contenedor{
    position: static;
  }

  .portada.button{
    display: block;
  }
  .menu{
    /* border: 1px solid tomato; */
    position: absolute;
    top: 0;
    right: 0;
    left: -100%;
    bottom: 0;
    background-color: rgba(156,84,12,.8);
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 0;
    transition: .3s;
  }

  active{
    left: 0;
  }
  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
    
  }

  .menu li:first-child {
    border-top: 1px solid white;
  }

  .menu ul{
    /*  hace que los items home, cafe y precios tomen todo el añcho de la pantalla */
    flex: 1;  
  }
  .portada {
    text-align: center;
  }

  .titulo{
    font-size: 35px;
  
  }

  .title-a {
  
    font-size: 15px;
  } 

  /* cafes */

  .cafe img{
  width: 200px;
  }
}
